*,
*::before,
*::after {
 box-sizing: border-box;
 cursor: url("images/cursor.png"), auto;
}
 
img {
 max-width: 100%;
 display: block;
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: "VCR OSD Mono";
    src: url("fonts/VCR_OSD_MONO_1.001.ttf");
}
   

a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-shadow: none;
    background-color: white;
    color: black;
    cursor: url("images/pointer.png"), auto;
}

body {
    font-family: "VCR OSD Mono";
    background-color:black;
    color:lightgrey;
    overflow:scroll;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://68.media.tumblr.com/595a5fa01fe53ca0e4ca8f37bacc849d/tumblr_nve67mJtue1tanofjo1_500.gif");
    background-size: 100% auto;
    text-shadow: 2px 2px 2px black;
    text-align: center;
}

#tabs, #links, #home {
    font-size: 18px;
    margin-top: 2.5%;
}

#welcome {
    font-size: 80px;
}

#tab-title {
    font-size: 50px;
}

#tab-text, #video-desc, #about-me, #setup-text, #blog-intro {
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

#blog-text {
    font-size: 20px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

#date-text {
    font-size: 20px;
    margin-left: 30%;
    text-align: right;  
}

.landing-row {
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
}

.logos {
    scale: 0.8;
    opacity: 0.9;
    width: 20%;
}

.setup-column {
    float: left;
    width: 40%;
    margin: 5%;
    text-align: left;
}

.setup-row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 600px) {
    #tab-text, #video-desc, #about-me, #blog-text, #blog-intro {
        font-size: 18px;
        margin-left: 5%;
        margin-right: 5%
    }
    #setup-text {
        font-size: 18px;
        margin-left: 0%;
        margin-right: 0%
    }
    #profilepic {
        float:left;
        margin-right: 1.5%;
        max-width: 40%;
        height: auto;
    }
    .column {
        float: left;
        width: 45vw;
        margin: 1vw;
        text-align: left;
    }
}

#profilepic {
    float:left;
    margin-right: 1.5%;
}

#footer {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    margin-left: 1.5%;
}

#gallery {
    display:flex;
    justify-content: center;
    align-items: center;
}

#embed {
    width: 50vw;
    height: 28vw;
}

#leftbutton, #rightbutton {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
